
*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 1em;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
    @include breakpoint(max-width $large) {
        font-size: .9em;
    }
    
    @include breakpoint(max-width $medium) {
        font-size: .8em;
    }
}

body {
    font-size: 100%;
    font-family: 'Raleway', serif;
    color: #333;
}

section {
    padding: 6em 2em;
}

.pre-heading {
    text-transform: uppercase;
    text-align: center;
    color: $grey-dark-3;
    margin-bottom: .3em;
}

.sect-heading {
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .2em;
    color: rgb(51, 51, 51);
}

.sect-heading-img {
    height: 13px;
    width: 142px;
    background-image: url('../img/heading-img.svg');
    margin: 0 auto 3em auto;
    opacity: .5;
}

/*svg#test {
    width: 142px;
    height: 13px;
    margin: 0 auto 3em auto;
    text-align: center;
    display: block;
}

.intro use {
    opacity: .5;
    display: inline-block;
    fill: #414042;
}*/









