@include breakpoint-set("to ems", true);

$gold: rgb(220, 204, 157);
$gold-dark: rgb(134, 114, 54);
$pink: #f864a6;
$pink-light: #fab89d;
$grey-light-1: #f0eeee;
$grey-light-2: #ccc;
$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;
$grey-testimonial: rgba(224, 224, 224, 0.3);

$large: 920px;
$medium: 780px;
$small: 560px;