

.demo {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.demo a {
    //width: 300px;
    //height: auto;
    //object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    background-color: #000;
}

.demo a:hover figure {
    transform: scale(1.3);
    opacity: 1;
}

.demo a:hover figcaption{
    opacity: 1;
    color: #fff;
    background-color: rgba(0,0,0,.65);
    padding: 2em 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.demo figure {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: .7;
    transition: all 300ms ease-out;
}

.demo figcaption {
    opacity: 0;
    transition: padding 300ms ease-in 200ms;
}

.demo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.demo a:nth-child(1), .demo a:nth-child(5) {
    grid-column: span 2;
}

.demo a:nth-child(3), .demo a:nth-child(6) {
    grid-row: span 2;
}


