
.large-hero {
    height: 55vw;
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,
    .25)), url('https://res.cloudinary.com/jduquain/c_scale,f_auto,q_auto,w_1920/v1563456910/eandb/hero.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: .6vw solid $gold;
    position: relative;
    overflow: hidden;
    
    @include breakpoint (max-width $large) {
        height: 65vw;
        /* this is causing the img hero bg to go blank for an instant before the new img loads - fix that or don't change the img
        background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url('https://res.cloudinary.com/jduquain/c_scale,f_auto,q_auto,w_771/v1563456910/eandb/hero.jpg');
        */
    }
    
    @include breakpoint (max-width $medium-small) {
        height: 85vw;
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #333 center/cover no-repeat;
        z-index: 0;
        filter: blur(4px);
        opacity: 0;
    }
    
    &__main-heading {
        color: #fff;
        text-align: center;
        font-family: 'Tangerine', cursive;
        text-shadow: 2px 2px 3px rgba(0,0,0,.7);
        font-size: 3.7em;
        line-height: 1.1;
        color: #fff;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 55%;
        z-index: 1;
        
        @include breakpoint (max-width $medium-small) {
            font-size: 3em;
            width: 65%;
        }
        
        @include breakpoint (max-width $small) {
            font-size: 2.6em;
            width: 75%;
        }
        
        @include breakpoint (max-width $smallest) {
            font-size: 2.3em;
            width: 80%;
        }
        
    }
    
    &__quote {
        opacity: 0;
        display: block;
        //animation: fade-in 800ms 700ms ease-in both;
    }
    
    &__quote--2 {
        //animation-delay: 2000ms;
    }

    &__quote--3 {
        //animation-delay: 4000ms;
    }

    &__quote--4 {
        font-family: 'Raleway', sans-serif;
        font-size: .5em;
        font-weight: 300;
        //animation-delay: 5300ms;
        display: block;
        text-align: right;
        margin-top: .85em;
    }
    
    &__amp {
        font-size: 1.4em;
        line-height: .6;
    }
    
    &__amp--right {
        margin-left: 13px;
    }
    
    
}

@keyframes fade-in {
    
    100% {
        opacity: 1;
    }
}


.large-hero.loaded .large-hero__quote {
    animation: fade-in 800ms 700ms ease-in both;
}

.large-hero.loaded .large-hero__quote--2 {
    animation-delay: 2000ms;
}

.large-hero.loaded .large-hero__quote--3 {
    animation-delay: 4000ms;
}

.large-hero.loaded .large-hero__quote--4 {
    animation-delay: 5300ms;
}


