

.large-hero {
    height: 55vw;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,
    .2)), url('../img/hero.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: .6vw solid $gold;
    position: relative;
    overflow: hidden;
    
    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #333 center/cover no-repeat;
        z-index: 0;
        filter: blur(4px);
        opacity: 0;
    }
    
    &__main-heading {
        color: #fff;
        text-align: center;
        font-family: 'Tangerine', cursive;
        text-shadow: 2px 2px 3px rgba(0,0,0,.7);
        font-size: 3.7em;
        line-height: 1.1;
        color: #fff;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 55%;
        z-index: 1;
    }
    
    &__quote {
        opacity: 0;
        display: block;
        //animation: fade-in 800ms 700ms ease-in both;
    }
    
    &__quote--2 {
        //animation-delay: 2000ms;
    }

    &__quote--3 {
        //animation-delay: 4000ms;
    }

    &__quote--4 {
        font-family: 'Raleway', sans-serif;
        font-size: .5em;
        font-weight: 300;
        //animation-delay: 5300ms;
        display: block;
        text-align: right;
        margin-top: .85em;
    }
    
    &__amp {
        font-size: 1.4em;
        line-height: .6;
    }
    
    &__amp--right {
        margin-left: 3px;
    }
    
    
}

@keyframes fade-in {
    
    100% {
        opacity: 1;
    }
}


.large-hero.loaded .large-hero__quote {
    animation: fade-in 800ms 700ms ease-in both;
}

.large-hero.loaded .large-hero__quote--2 {
    animation-delay: 2000ms;
}

.large-hero.loaded .large-hero__quote--3 {
    animation-delay: 4000ms;
}

.large-hero.loaded .large-hero__quote--4 {
    animation-delay: 5300ms;
}


