
.intro {
    @include breakpoint(1200px) {
        padding: 6em calc(50% - 600px);
    }
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5em;
        align-items: center;
    }
    
    /*****OVERLAP GALLERY******/
    &__gallery {
        margin: 0 3em;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
    
    &__img {
        width: 110%;
        border-radius: 2px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        transition: transform 300ms ease-out;
        
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
            z-index: 60;
        }
        
        &-1 {
            grid-column: 3 / 7;
            grid-row: 3 / 7;
            z-index: 50;
        }
        
        &-2 {
            grid-column: 5 / 9;
            grid-row: 5 / 9;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        }
        
        &-3 {
            grid-column: 1 / 6;
            grid-row: 2 / 9;
            
        }
        
    }
    
    /*****SUMMARY******/
    &__summary {
        p:first-of-type::first-letter {
            font-family: 'Libre Baskerville', serif;
            //font-family: Arial;
            font-size: 3.8em;
            line-height: 1.1;
            float: left;
            color: $gold;
            margin-right: .1em;
        }
        
        p {
            font-size: 1em;
            line-height: 1.6;
            
        }
        
        p:not(:last-of-type) {
            margin-bottom: .8em;
        }
        
    }
    

    /*****BRAND LOGOS*****/
    &__brands {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        grid-gap: 2em;
        width: 80%;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    }
    
    &__brands__heading {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-gap: .75em;
        align-items: center;
        color: darken($gold, 10%);
        font-size: 1.3em;
        font-weight: 500;
        line-height: 1;
        margin: 2em 0;
        
        &::before, &::after {
            content: "";
            height: 1px;
            background-color: currentColor;
        }
    }
    
    &__brands__img {
        width: 150px;
        height: 100px;
        object-fit: cover;
        opacity: .2;
        filter: grayscale(100%);
        transition: 400ms ease-out;
        
        &:hover {
            opacity: 1;
            filter: grayscale(0);
        }
    }
      
}









