
.navigation {
    padding: 1em 1.5em;
    transition: background-color 350ms ease-in;
    
    &__list {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    
    &__item--hide {
        margin-left: 2em;
        /* removed as svg space was preserved in mozilla changed to 
        transform: scale(2.2);
        opacity: 0; 
        transition: transform 1000ms ease-out, opacity 800ms; */ 
        
        display: none;
        
        & .navigation__link:link::after, & .navigation__link:visited::after {
            display: none;
        }
    }

    &__link:link, &__link:visited {
        transition: all 300ms ease-out;
        display: inline-block;
        font-size: .75em;
        font-weight: 500;
        color: $grey-dark-1;
        text-transform: uppercase;
        position: relative;
        padding-bottom: .2em;
    }
    
    &__link:link:hover, &__link:visited:hover {
        color: $gold-dark;
    }

    &__link:link::after, &__link:visited::after {
        transition: all 300ms ease-in;
        position: absolute;
        content: "";
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 2px;
        background-color: $gold;
    }
    
    &__link:hover::after {
        left: 0;
        right: 0;
    }
    
    &.fixed {
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 3px 3px rgba(0,0,0,.3);
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden; /* added to keep the sticky nav from expanding when logo animation happens */
        
        & .navigation__list {
            width: 90%;
            align-items: center;
        }
        
        & .navigation__item--hide {
            margin-right: auto;
            margin-bottom: -8px;
            /* removed as svg space was preserved in mozilla
            opacity: 1;
            transform: scale(1.1);
             */
            
            display: block;
            
        }
        
        & .navigation__item--hide svg {
            fill: #fff;
            width: 250px;
            height: 60px;
        }
        
        & .navigation__item {
            margin-left: 2em;
        }
        
        & .navigation__link:link, & .navigation__link:visited {
            color: #fff;
        }
        
        & .navigation__link.active:link, & .navigation__link.active:visited {
            color: $gold;
        }
        
        & .navigation__link.active:link::after, & .navigation__link.active:visited::after {
            color: $gold;
            left: 0;
            right: 0;
            transition-delay: 300ms; /* added to try to keep other links from starting to animate this on the way down/up to the target link */
        }
        
    }
}



