
.navigation {
    padding: 1em 1.5em;
    
    &__list {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    
    &__item {
        
    }
    
    &__link:link, &__link:visited {
        transition: all 300ms ease-out;
        display: inline-block;
        font-size: .75em;
        color: $grey-dark-1;
        text-transform: uppercase;
        position: relative;
        padding-bottom: .2em;
    }
    
    &__link:link:hover, &__link:visited:hover {
        color: $gold;
    }

    &__link:link::after, &__link:visited::after {
        transition: all 300ms ease-in;
        position: absolute;
        content: "";
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 2px;
        background-color: $gold;
    }
    
    &__link:hover::after {
        left: 0;
        right: 0;
    }
    
    
}


