
.services {
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 2em;
        max-width: 1280px;
        margin: 0 auto;
        align-items: center;
    }

    &__main {
        width: 400px;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba($grey-light-2,.3);
        transition: transform 300ms ease-in;
    }
    
    &__image-wrap {
        position: relative;
    }
    
    &__image-wrap::after {
        position: absolute;
        content: "";
        background-image: url('../img/blog-entry-overlay.svg');
        left: 0;
        right: 0;
        bottom: 0;
        height: 52px; /*will not fit perfectly when width changes - update this soon*/
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    &__image {
        display: block;
    }
    
    &__description {
        padding: 2em;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }

    &__description-heading {
        font-size: 1.2em;
         margin: 1em 0 .5em 0;
        text-transform: capitalize;
         font-family: 'Quicksand', sans-serif;
         $grey-dark-2: #777;
         transition: transform 300ms ease-out;
    }

    &__summary {
        color: $grey-light-2;
        margin-bottom: 2em;
        hyphens: auto;
        
    }
    
    &__link {
        color: $grey-dark-2;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        position: relative;
        padding-bottom: .3em;
    }
    
    &__link:hover {
        color: $grey-dark-1;
        transition: color 300ms ease-in;
    }
    
    &__link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        content: "";
        height: 1px;
        transform: scaleX(0);
        transform-origin: left center;
        z-index: 88;
        background-color: currentColor;
        transition: transform 350ms ease-out;
    }
    
    &__link:hover::after {
        transform: scaleX(1);
    }
    
    /**********   SERVICES TABLE LIST   **********/
    &__table {
        width: 60%;
        border-collapse: collapse;
        border-radius: 20px;
        
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: 400ms ease-out;
        
        &-caption {
            padding: .5em 0 .5em 0;
            text-align: center;
            font-size: 3.4em;
            color: #333;
            background-color: lighten($gold, 15%);
        }
        
        &-caption-span {
            font-family: 'Rochester', cursive;
            line-height: .7;
            text-align: center;
            display: block;
            font-size: 1.2em;
            color: $gold-dark;
        }
      
        tr:nth-of-type(odd){
          background-color: lighten($gold, 15%);
        }
        
        tr:nth-of-type(even){
          background-color: $gold;
        }
        
        th {
            text-align: left;
            padding: 0 1em;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 700;
        }
        
        td {
            padding: 1em 1em 1em 2em;
            font-weight: 500;
        }
    }  
    
}

/********  TABLE WRAPPER/MODAL STYLES  **********/
.cut-and-design_wrap, .color_wrap, .additional_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 600ms ease-out;
    
    &:target {
        opacity: 1;
        visibility: visible;
         
    }
    
    &:target .services__table-cut, 
    &:target .services__table-color,
    &:target .services__table-additional {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

}

.close_modal {
    position: absolute;
    display: block;
    font-size: 3em;
    top: 3em;
    right: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: .9em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.close_modal:hover {
    color: green;
}

