
.services {
    background-color: #fbfbfb;
    margin: 0 auto;
    
    @include breakpoint(1200px) {
        padding: 6em calc(50% - 600px);
    }
    
    &__grid {
        display: grid;
        margin-bottom: 8em;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        grid-gap: 3em 2em;
    }
    
    &__figure {
        transition: all 200ms ease-out;
        width: min-content;
        border-radius: 100% 100% 0 0;
        overflow: hidden;
    }
    
    &__figure:hover {
        box-shadow: 0 0 5px #333;
        transform: translateY(-2px)
    }
    
    &__image {
        width: 365px;
        height: 235px;
        object-fit: cover;
        display: block;
        border-radius: 100% 100% 0 0;
    }
    
    &__figcaption {
        padding: 1.5em;
        text-align: center;
        background-color: #000;
        color: #fff;
    }
    
    &__heading {
        margin-bottom: 1em;
        text-transform: uppercase;
        font-weight: 500;
    }

    
    /*********** TABLE STYLES **************/
    &__table {
        width: 70%;
        margin: 0 auto 3em auto;
        border-collapse: collapse;
        
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: 400ms ease-out;
        
        caption {
            text-align: left;
            font-size: 1.2em;
            padding-bottom: .3em;
            font-weight: 700;
        }
      
        tr:nth-of-type(odd){
          background-color: lighten($gold, 15%);
        }
        
        tr:nth-of-type(even){
          background-color: darken($gold, 15%);
        }
        
        td, th {
            font-size: 1em;
            border: 1px solid $gold;
            padding: 3px 7px 2px 7px;
            text-transform: uppercase;
        }
        
        th {
          text-align: center;
          padding-top: 5px;
          padding-bottom: 4px;
          background: rgb(229,76,16);
          background: linear-gradient(to bottom, $gold, darken($gold, 10%));
          color: white;
        }
    }  
    
}

/********  TABLE WRAPPER/MODAL STYLES  **********/
.cut-and-design_wrap, .color_wrap, .additional_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 600ms ease-out;
    
    &:target {
        opacity: 1;
        visibility: visible;
         
    }
    
    &:target .services__table-cut, 
    &:target .services__table-color,
    &:target .services__table-additional {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

}

.close_modal {
    position: absolute;
    display: block;
    font-size: 3em;
    top: 3em;
    right: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: .9em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.close_modal:hover {
    color: green;
}









