
.stats {
    background-color: #f0e7e7;
    background-image: url('../../img/elementor.svg');
    background-repeat: repeat-x;
    background-size: 80% 20%;
    padding-top: 9em;
    padding-bottom: 2em;
    
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2em;
        margin: 0 auto 1em auto;
        
        padding-top: 0 !important;
    }
    
    &__wrap {
        padding: 4em 0 3em 0;
    }
    
    &__heading {
        color: $grey-dark-2;
        text-align: center;
    }
    
    &__summary {
        color: $grey-dark-1;
    }
    
    &__stat {
        background-color: #fff;
        padding: 1.5em 2.5em;
        text-align: center;
        border-radius: 3px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__number-wrap {
        margin-top: 1.5em;
    }
    
    &__number {
        font-size: 2.5em;
        font-weight: bold;
    }
    
    &__service {
        color: $grey-dark-1;
    }
    
    &__plus {
        font-size: 2.5em;
    }
    
    &__icon-wrap {
        text-align: center;
    }
    
    &__icon::before, &__icon::after {
        margin: 0 !important;
        font-size: 3em !important;
        color: $gold-dark; 
    }
      
}
