
/*
KWES WRAPS EACH INPUT ELEMENT IN A SPAN .kw-field-wrapper so the 100% width needs to be added to this span but I still might need to account for the submit button any time is is a button element and NOT a input type=submit element
*/

/*.kw-field-wrapper {
    width: 100%;
}*/

// keeps the error msgs from messing up the layout but need to make .subscribe__field-prefixed  relatively positioned
/*.kw-field-wrapper .help {
    position: absolute
}*/


.subscribe {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://res.cloudinary.com/jduquain/c_scale,f_auto,q_auto,w_1920/elm-and-belle/various-hair-styling-items.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 8em;
    padding-bottom: 8em;
    color: #fff;
    
    @include breakpoint(max-width $small) {
        padding-top: 6em;
        padding-bottom: 6em;
    }
    
    &__wrap {
        max-width: 1280px;
        margin: 0 auto;
    }
    
    &__heading {
        font-size: 1.9em;
        margin-bottom: 1em;
        font-weight: 400;
        color: #fff;
    }
    
    &__paragraph {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 4em;
    }
    
    &__form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 3em 1.5em;
        
        @include breakpoint(max-width $small) {
            grid-gap: 1.2em 1.5em;
        }
        
    }

    &__input, &__email, &__comment {
        width: 100%;
        border-radius: 0 .25em .25em 0;
        padding: .375em .3125em .3125em;
        border: 1px solid #ccc; 
        color: #111;  
        height: 2.125em;
        cursor: pointer;
    }
    
    // height for textarea needs to be on its wrapper (.kw-field-wrapper-5) - removed using lambda

    &__comment { 
        height: 5em;
    }
    
    &__input:focus, &__email:focus, &__comment:focus {
        outline: none;
        box-shadow: inset 0 0 .5em rgba(93, 162, 248, 0.5);
    }
    
    &__label {
        display: block;
        width: 100%;
        margin-bottom: .4em;
    }
    
    &__field-prefixed {
        display: flex;
        
        // this is need to keep the kwes error msgs from messing up the layout - removing now that lambda is being used
        // position: relative; 
    }
    
    &__field-prefix {
        transition: all 300ms ease-out 100ms;
        flex: 0 0 2.2em;
        display: flex;
        border: 1px solid #ccc;
        border-right: 0;
        border-radius: .25em 0 0 .25em;
        align-items: center;
        justify-content: center;
        padding: .375em .375em .3125em .375em;
        color: #fff;
        background-color: $gold;
    }
    
    &__field-prefix.input-color {
        background-color: transparent;
    }
    
    &__field-prefix.input-color .subscribe__icon {
        fill: $gold;
    }
    
    &__input-wrap:last-of-type {
        align-self: end;

        @include breakpoint(max-width $small) {
            justify-self: center;
        }
    }
    
    &__icon {
        width: 1em;
        height: 1em;
        fill: #fff;
        margin-bottom: .12em;
    }
    
    &__submit {
        font-family: inherit;
        border: none;
        background-image: linear-gradient($gold, $gold-medium);
        cursor: pointer;
        margin-top: 2em;
        
        display: flex;
        align-items: center;
        
        & .subscribe__icon {
            margin: 0 0 .13em .3em;
            width: .9em;
            height: .9em;
        }
        
        &::before, &::after {
            border-color: $gold;
        }

    }
    
    &__response {
        max-width: 300px;
        padding: .5em;
        border: 1px solid $gold;
        background-color: rgba(0,0,0,.4);
        margin: 1em auto 0 auto;
        font-weight: bold;
        transition: opacity 600ms ease-in;
        
        &.hidden {
            opacity: 0;
        }
        
        &.fadeout {
            opacity: 0;
        }
    }
    
    
}





