

.testimonials {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/items.jpg);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    color: #fff;
    padding: 2em 2em;
    
    /*@include breakpoint(1200px) {
        padding: 6em calc(50% - 600px);
    }*/
    
    &__wrap {
        position: relative;
        height: 100vh;
        max-width: 100%;
        overflow: hidden;
    }
    
    &__flex {
        display: flex;
        align-items: center;
        //position: absolute;
        max-width: 100%;
        transition: all 400ms ease-out;
        
        /*@include breakpoint(max-width $medium) {
            display: block;
        }*/
    }
    
    &__prev, &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        line-height: 3em;
        text-align: center;
        background-color: rgba(255,255,255,.7);
        color: #000;
        z-index: 500;
        cursor: pointer;
        font-weight: 700;
        transition: all 300ms ease-out;
    }
    
    &__prev:hover, &__next:hover {
        background-color: rgba(255,255,255,.9);
    }
    
    &__next {
        right: 0;
        left: auto;
    }
    
    &__dot-container {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    &__dot {
        width: 1.5em;
        height: 1.5em;
        border-radius: 2em;
        margin: 0 .25em;
        cursor: pointer;
        background-color: #fff;
        
        &.active {
            background-color: green;
        }
        
        &.grey {
            background-color: gray;
        }
    }
     
}

.customer {
    flex: 0 0 31%;
    margin: 0 .75em;
}

/*@include breakpoint(max-width $medium) {
    div.customer:not(.customer--one) {
        margin-top: 6.6em;
    }
}*/

div.customer--content {
    background-color: rgba(255,255,255,.4);
    padding: 1.5em;
    padding-top: 0;
    border: .3125em solid #fff;
    border-radius: .25em;
}

div.userWrap {
    text-align: center;
    transform: translateY(-50%);
}

div.userPic {
    border-radius: 50%;
    border: .3125em solid #fff;
    width: 6em;
    height: 6em;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .fa {
        color: $pink-light;
        font-size: 4em;
        transform: translateX(3px) rotate(90deg);
    }
}


h2.user--name {
    margin-top: -1em;
    text-align: center;
    font-weight: 400;
    margin-bottom: .2em;
    
    @include breakpoint(max-width $medium) {
        margin-top: .4em;
    }
}

p.user--visits {
    text-align: center;
    margin-bottom: .75em;
}

div.quoteWrap {
    padding: 2em;
    background-color: darken($pink-light, 10%);
    margin-left: -1.5em;
    margin-right: -1.5em;
    clip-path: polygon(0 1em, 100% 0, 100% calc(100% - 1em), 0 100%);
    color: #fff;
}

blockquote {
    margin-bottom: 1.3em; 
    line-height: 1.4;
    font-weight: 300;
    position: relative;
}

blockquote::before {
    content: "\201C";
    color: rgba(255,255,255,.3);
    font-size: 11em;
    line-height: .5;
    display: block;
    position: absolute;
    top: .05em;
    left: -.22em;
    font-family: sans-serif;
}

.star-date-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars__link {
    display: inline-block;
    
}

.stars__icon {
    color: gold;
    display: inline-block;
    font-size: 1.3em !important;
}

cite {
    font-style: italic;
    font-weight: 300;
}


